header {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}

#styleh1 {
    color: darkseagreen;
}

#styleh2 {
    color: darkseagreen
}

.stylep {
    color: darkolivegreen;
    font-weight: bold;
    font-style: italic;
}